#page_container {
  display: flex;
  flex-direction: column;
  margin: auto auto;  
}

#switch_div {
  display: flex;
  background-color: green;
  margin: auto auto;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#switch {
  border: 4px solid black;
  border-radius: 5px;
  height: 140px;
  width: 80px;
  transform: skew(5deg);
  box-shadow: rgba(0, 0, 0, 10) 0px 25px 20px -20px;
  margin: auto auto;
}

#light_bulb {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#bulb_top {
  width: 150px;
  height: 150px;
  border: solid 5px #000;
  border-radius: 50%;
  border-color: #000 #000 transparent #000;
  margin: 30px auto;
}

#bulb_sidelines {
  display: flex;
  flex direction: inline;
  margin-top: -50px;
}

.sidelines_div_width {
  width: 50%;
}

.sidelines_styling {
  width: 5px;
  height: 30px;
  background-color: black;
}

#left_sideline {
  position: relative;
  left: 105px;
}

#right_sideline {
  margin: 0px 42px;
}

#bulb_bottom_line1 {
  width: 70px;
  background-color: black;
  height: 5px;
  margin: 10px auto;
}

#bulb_bottom_line2 {
  width: 60px;
  background-color: black;
  height: 5px;
  margin: 10px auto;
}

#bulb_bottom_line3 {
  width: 50px;
  background-color: black;
  height: 5px;
  margin: 10px auto;
}


